/**
 * _skin01_params.scss
 *
 * Widget front styling - skin #01 - parameters
 */

/**********/
/* colors */
/**********/

$white:				#fff;
$black:             #000;

$gray-color1:		#666;
$gray-color2:		#999;
$gray-color3:		#c2c2c2;
$gray-color4:		#d6d6d6;
$gray-color5:		#e6e6e6;
$gray-color6:		#f5f5f5;

$blue-color1:		#2814FF;
$blue-color2:		#2814FF;

$red-color1:		#f0ab9f;
$red-color2:		#efcdc7;

$orange-color1:		#fdcf85;
$orange-color2:		#fbb034;
$orange-color3:		#ea8a0a;

/**************/
/* typography */
/**************/

$font-color:		$gray-color1;
$font-invert-color: $white;